.navbar{
    height: 80px;
    background: linear-gradient(30deg, dodgerblue,violet);
    color: #fff;
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
.navbar a.active{
    color: crimson;
}
.navbar a sup{
    position: absolute;
    top: -10px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
}